BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: false
SpacesInParentheses: false
FixNamespaceComments: false
